@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
background-color: aquamarine;
color: blueviolet;
font-family: 'Ubuntu', sans-serif;
}
h1 {
    text-align: center;
}
.description {
    text-align: center;
    font-size: large;
}
.container {
    width: 50vh;
    padding: 1rem 1rem;
    margin: auto;
}
label,input {
    display: block;
    padding: 0.4rem 0.4rem;
    width: 50%;
}
input {
    margin-bottom: 1rem;
}
button {
    
    padding: 0.5rem;
    display: block;
    margin: 3vh;
    border-radius: 0.5rem;
    background-color: blueviolet;
    color: cornsilk;
    font-size: large;
    border-color: cornsilk;
    border-top-width: medium;
    border-left-width: medium;
}
#output-text {
    font-size: large;
    
}
.footer {
    margin-top: 2rem;
    
    background-color: blueviolet;
    padding: 2rem;;
    color: cornsilk;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
}
.footer .social-media {
    list-style: none;
    margin: 1rem;
    padding-top: 1rem;
    
    color: cornsilk;
}
.list {
    padding: 0.3rem;
}
.link {
    padding-top: 3rem;
    color: cornsilk;
    text-decoration: none;
    margin-top: 1rem;
}